
<div class="form-group">
    <label>{{localize "Type"}}</label>
    <div class="form-fields">
        <select name="type">
            {{selectOptions types selected=type}}
        </select>
    </div>
</div>
