.application.sheet.uts {
  & .sheet-header {
    & img {
      border: none;
      flex: 0 0 100px;
    }
    & input[name="name"] {
      height: 2.5em;
      font-size: 2rem;
    }
  }
  & .tab[data-tab="items"] {
    & ul {
      list-style: none;
      padding-left: 5px;
    }
    & .itemHeader {
      border-bottom: 1px solid var(--color-border-light-primary);
      & .type-label {
        font-size: 20px;
      }
      & .document-controls {
        flex: 0 0 100px;
      }
    }
    & .item {
      & img {
        border: none;
        flex: 0 0 30px;
        padding-right: 5px;
      }
      & .document-controls {
        flex: 0 0 50px;
      }
    }
  }
  & .tab[data-tab="effects"] {
    & ul {
      list-style: none;
      padding-left: 5px;
    }
    & .effects-header {
      font-size: 16px;
      border-bottom: 1px solid var(--color-border-light-primary);
      & .effect-duration {
        flex: 0 0 80px;
      }
      & .document-controls {
        flex: 0 0 100px;
      }
    }
    & .effect {
      & .effect-label {
        & img {
          border: none;
          flex: 0 0 30px;
          padding-right: 5px;
        }
        & .effect-name {
          line-height: 24px;
        }
      }
      & .effect-duration {
        flex: 0 0 130px;
      }
      & .document-controls {
        flex: 0 0 80px;
      }
    }
    & .effect-label {
      flex: 2;
    }
  }
}

