<section class="sheet-header flexrow">
  <img
    class="profile-img"
    src="{{actor.img}}"
    data-action="editImage"
    data-edit="img"
    data-tooltip="{{actor.name}}"
    height="100" width="100"
    alt="{{actor.img}}"
  >
  {{formInput actorFields.name value=actor.name}}
</section>
