<div class="sheet-header">
  <img
    class='profile-img'
    src='{{actor.img}}'
    data-action='onEditImage'
    title='{{actor.name}}'
    height='100' width='100'
  />
  {{formInput actorFields.name actor.name}}
</div>
