<section class="sheet-header flexrow">
  <img
    class="profile-img"
    src="{{item.img}}"
    data-action="editImage"
    data-edit="img"
    data-tooltip="{{item.name}}"
    height="100" width="100"
    alt="{{item.img}}"
  >
  {{formInput itemFields.name value=item.name}}
</section>
