<section class="sheet-header flexrow">
  <img
    class='profile-img'
    src='{{item.img}}'
    data-action='onEditImage'
    title='{{item.name}}'
    height='100' width='100'
  />
  {{formInput itemFields.name item.name}}
</section>
